.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 4rem;
    padding-top: 2rem;

    .card {
        position: relative;
        border: 1px solid rgb(104, 104, 104);
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: #000;

        * {
            cursor: default;
        }

        h4:not(span) {
            color: rgb(66, 66, 196);
            font-size: 1.5rem;
            display: inline;
        }

        span {
            color: rgb(199, 199, 199);
        }

        &:hover {
            background-color: rgb(128, 122, 68);
            transition: all 600ms ease-in-out;
        }
    }
}